
:root {
    
    --app-base-font-size: 16px;  
    --app-font-weight: 400;      
    --app-line-height: 1.5;      
    --app-letter-spacing: 0.05em;  
    --app-word-spacing: normal;     
    --app-font-family: "Segoe UI", Arial, sans-serif;
  
  
    --background-color: #fefefe;
    --text-color: #111;
    --link-color: #00A77F;
    --section-bg-color: #ffffff;
  }
  

  html {
    font-size: var(--app-base-font-size);
    font-family: var(--app-font-family);
  }
  
  html,
  body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: var(--app-font-weight);
    line-height: var(--app-line-height);
    letter-spacing: var(--app-letter-spacing);
    word-spacing: var(--app-word-spacing);
    font-family: var(--app-font-family);
  }
  
  
  .high-contrast {
    --background-color: #121212;
    --text-color: #f1f1f1;
    --link-color: #FFD700;
    --section-bg-color: #1e1e1e;
  }
  

  .dyslexic-font {
    --app-font-family: 'OpenDyslexic', sans-serif;
  }
  
  html.dyslexic-font,
  body.dyslexic-font {
    font-family: 'OpenDyslexic', sans-serif !important;
  }
  

  